@use '../../common/_variables' as variables
@use '../../common/_mixins' as mixins

.header
    width: 100%
    background-color: variables.$color-background-primary
    margin: 0
    padding: 1em 4em 0.5em 4em
    vertical-align: middle

.logo
    height: 3.125em
    img
        width: auto
        height: inherit

.search
    position: relative
    height: max-content

.search-input
    width: 100%
    padding-inline: 1.5em
    height: 2.5em
    right: 0
    background-color: #ffffff
    border-radius: 5em
    border: none
    &:focus
        outline: none

.btn-search
    @include mixins.btn-small
    position: absolute
    right: 0

.suggestions-container
    position: absolute
    top: 2.5em
    width: 100%
    z-index: 999
    .list-group
        border-radius: 2.5em
        background-color: #ffffffd4
        border: none
        padding: 0.5em
        .list-group-item
            background-color: transparent
            border: none

@media only screen and (max-width: 768px)
    .header
        padding: 1em 2em 1em 2em
