<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-md-start text-center logo">
        <a class="logo" routerLink="/" routerLinkActive="router-link-active">
          <img src="../../../assets/logo-app.png" />
        </a>
      </div>
      <div class="col-sm-12 col-md-6">
        <div
          id="searchBox"
          class="search"
          tabindex="0"
          (mouseleave)="showSuggestions = false"
        >
          <form (ngSubmit)="searchResults()">
            <input
              name="searchQuery"
              type="text"
              autocomplete="off"
              spellcheck="false"
              class="search-input"
              placeholder="Buscar película..."
              [(ngModel)]="query"
              (input)="keyPressed()"
              (blur)="clearQuery()"
            />
            <ng-container *ngIf="showSuggestions">
              <div class="suggestions-container">
                <ul class="list-group">
                  <li
                    *ngFor="
                      let suggestion of searchSuggestions$ | async | slice: 0:6
                    "
                    class="list-group-item"
                  >
                    <a
                      routerLink="/movie"
                      [queryParams]="{ id: suggestion.id }"
                      >{{ suggestion.title }}</a
                    >
                  </li>
                  <ng-container
                    *ngIf="
                      !(searchSuggestions$ | async) ||
                      (searchSuggestions$ | async)?.length == 0
                    "
                  >
                    <li class="list-group-item">
                      No se encontraron resultados
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
            <button type="submit" class="btn-search">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
