@use '../../common/_variables' as variables
@use '../../common/_mixins' as mixins

.actor-card
    @include mixins.img-card
    flex: 1

.flex-container
    display: flex
    flex-direction: column
    align-items: stretch
    height: 100%
    width: 100%
    
.image-container
    width: 100%
    aspect-ratio: 2/3

.image
    width: 100%
    height: 100%
    object-fit: cover

.actor-role
    @include mixins.card-subtitle(variables.$color-text-dark)
    margin-top: -0.5em

.actor-info
    padding-inline: 0.5em
