<div class="card-container">
  <!-- inicio poster -->
  <div class="movie-card">
    <a
      routerLink="/movie"
      [queryParams]="{ id: movie.id }"
      routerLinkActive="router-link-active"
    >
      <img
        class="poster"
        [src]="movie.poster_path! | image: 'w780':'poster'"
        alt="name"
      />
    </a>
  </div>
  <!-- fin poster -->
  <!-- inicio info -->
  <div class="movie-info">
    <a routerLink="/movie" [queryParams]="{ id: movie.id }"
      ><span class="card-title">{{ movie.title }}</span></a
    >
    <!-- inicio rating -->
    <app-rating [movieRating]="movie.vote_average"></app-rating>
    <!-- fin rating -->
  </div>
  <!-- fin info -->
</div>
