<div class="carousel-item" [ngClass]="active">
  <a
    routerLink="/movie"
    routerLinkActive="router-link-active"
    (click)="selectMovie()"
  >
    <img
      [src]="movie.backdrop_path | image: 'w1280'"
      class="d-block w-100"
      alt="movie.title"
    />
  </a>
  <div class="carousel-caption d-none d-md-block">
    <a
      routerLink="/movie"
      routerLinkActive="router-link-active"
      (click)="selectMovie()"
    >
      <h3>{{ movie.title }}</h3>
    </a>
    <h5>{{ movie.overview }}...</h5>
  </div>
</div>
