.carousel-caption
    padding-inline: 2em
    border-radius: 0px 0px 8px 8px
    text-align: start
    background: linear-gradient(to right, #032541, #01b3e4a1)
    bottom: 0em
    left: 0em
    right: 0em

h3
    font-weight: bold

img
    border-radius: 8px

.d-none
    display: block!important

@media only screen and (max-width: 768px)
    .carousel-caption
        h5
            display: none
