<div class="carousel-item" [ngClass]="active">
  <!-- inicio backdrop -->
  <a
    routerLink="/movie"
    [queryParams]="{ id: movie.id }"
    routerLinkActive="router-link-active"
  >
    <img
      [src]="movie.backdrop_path | image: 'w1280':'backdrop'"
      class="d-block w-100"
      alt="movie.title"
    />
  </a>
  <!-- fin backdrop -->
  <!-- inicio captions -->
  <div class="carousel-caption d-none d-md-block">
    <a
      routerLink="/movie"
      [queryParams]="{ id: movie.id }"
      routerLinkActive="router-link-active"
    >
      <h3>{{ movie.title }}</h3>
    </a>
    <h5>{{ movie.overview }}...</h5>
  </div>
  <!-- fin captions -->
</div>
