/* You can add global styles to this file, and also import other style files */
@use 'app/common/_variables' as variables
@use '../node_modules/animate-sass/_animate.scss'

body
    font-family: 'Source Sans Pro'
    font-size: 16px
    padding-bottom: 20px
    margin: 0

a, a:hover, a:focus, a:active
    text-decoration: none
    color: inherit

.card-container
    padding-bottom: 16px

.card-title
    padding-top: 16px
    display: block
    font-weight: bold
    font-size: 1rem
    line-height: 1.2rem
    color: variables.$color-text-dark
