<!-- inicio error alerts -->
<ng-container *ngIf="movieDetailsError$ | async">
  <app-error-alert [message]="(movieDetailsError$ | async)!" title="Error cargando detalles"></app-error-alert>
</ng-container>
<ng-container *ngIf="movieCreditsError$ | async">
  <app-error-alert [message]="(movieCreditsError$ | async)!" title="Error cargando créditos"></app-error-alert>
</ng-container>
<!-- fin error alerts -->
<!-- inicio loading spinner -->
<ng-container
  *ngIf="
    (isLoadingSelectedMovieDetails$ | async) &&
    (isLoadingSelectedMovieCredits$ | async)
  "
>
  <app-spinner></app-spinner>
</ng-container>
<!-- fin loading spinner -->
<!-- inicio sección info de película -->
<ng-container
  *ngIf="
    !(isLoadingSelectedMovieDetails$ | async) &&
    !(isLoadingSelectedMovieCredits$ | async) &&
    !(movieCreditsError$ | async) &&
    !(movieDetailsError$ | async)
  "
>
  <div
    class="movie-main-info-container animated fadeIn"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to right, #032541b1 50%, #01b3e4cb),
        url(' +
        ((movieDetails$ | async)!.backdrop_path | image: 'w1280':'backdrop') +
        ')'
    }"
  >
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <!-- inicio poster -->
        <div class="poster-card">
          <img
            class="poster animated fadeIn"
            [src]="
              (movieDetails$ | async)!.poster_path | image: 'w780':'poster'
            "
            alt="name"
          />
        </div>
        <!-- fin poster -->
      </div>
      <div class="col-md-9 col-sm-12 movie-info">
        <h2>{{ (movieDetails$ | async)!.title }}</h2>
        <!-- inicio rating -->
        <app-rating
          [movieRating]="(movieDetails$ | async)!.vote_average"
        ></app-rating>
        <!-- fin rating -->
        <h5>{{ (movieDetails$ | async)!.overview }}</h5>
        <button class="btn-back" routerLink="/">Regresar</button>
      </div>
    </div>
  </div>
  <!-- fin sección info de película -->
  <!-- inicio sección cast -->
  <div class="movie-cast-container animated fadeIn">
    <div class="row">
      <div
        class="col-md-2 col-sm-6"
        *ngFor="let actor of (movieCredits$ | async)!.cast | slice: 0:6"
      >
        <app-actor-card
          [actor]="actor"
          class="animated fadeIn"
        ></app-actor-card>
      </div>
    </div>
  </div>
</ng-container>
<!-- fin sección cast -->
