<!-- inicio loading spinner -->
<ng-container *ngIf="!selectedMovieDetails && !cast">
  <app-spinner></app-spinner>
</ng-container>
<!-- fin loading spinner -->
<!-- inicio sección info de película -->
<ng-container *ngIf="selectedMovieDetails && cast">
  <div
    class="movie-main-info-container"
    [ngStyle]="{
      'background-image':
        'linear-gradient(to right, #032541b1 50%, #01b3e4cb),
        url(' +
        (selectedMovieDetails.backdrop_path | image: 'w1280':'backdrop') +
        ')'
    }"
  >
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <!-- inicio poster -->
        <div class="poster-card">
          <img
            class="poster"
            [src]="
              selectedMovieDetails.poster_path
                ? (selectedMovieDetails.poster_path | image: 'w780':'poster')
                : noImgUrl
            "
            alt="name"
          />
        </div>
        <!-- fin poster -->
      </div>
      <div class="col-md-9 col-sm-12 movie-info">
        <h2>{{ selectedMovieDetails.title }}</h2>
        <!-- inicio rating -->
        <app-rating
          [movieRating]="selectedMovieDetails.vote_average"
        ></app-rating>
        <!-- fin rating -->
        <h5>{{ selectedMovieDetails.overview }}</h5>
        <button class="btn-back" routerLink="/">Regresar</button>
      </div>
    </div>
  </div>
  <!-- fin sección info de película -->
  <!-- inicio sección cast -->
  <div class="movie-cast-container">
    <div class="row">
      <div class="col-md-2 col-sm-6" *ngFor="let actor of cast">
        <app-actor-card [actor]="actor"></app-actor-card>
      </div>
    </div>
  </div>
</ng-container>
<!-- fin sección cast -->
